body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import url('https://fonts.googleapis.com/css2?family=Gluten&family=Lobster&family=EB+Garamond&display=swap');


.rainbow-text {
  background-image: linear-gradient(to right, #4285F4 20%, #DB4437 20% 40%, #F4B400 40% 60%, #4285F4 60% 70%, #0F9D58 70% 80%, #DB4437 80%);   -webkit-background-clip: text;
  color: transparent;
}