

@import url('https://fonts.googleapis.com/css2?family=Gluten&family=Lobster&family=EB+Garamond&display=swap');

.rainbow-text {
  background-image: linear-gradient(to right, #4285F4 20%, #DB4437 20% 40%, #F4B400 40% 60%, #4285F4 60% 70%, #0F9D58 70% 80%, #DB4437 80%);   -webkit-background-clip: text;
  color: transparent;
}


.Lern-main-header {
  background-image: linear-gradient(to right, #008378 2vw, #55A55A 10vw, #94E595 20vw);   -webkit-background-clip: text;
  color: transparent;
  margin-left: 8%;
  margin-top: 1%;
  float: left;
  font-size: 10vw;
  width: 20% auto;
}  


body {
  background-color: transparent !important;
}

html {
  background: linear-gradient(300deg,#def1ff,#00a6db);
  background-size: 400% 400%;
  animation: gradient-animation 200s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}